$font-1: "Roboto", sans-serif;
$primary-fsz: 0.875rem; //14px
$fsz-1: 1rem;
$fsz-2: 1.25rem;
$fsz-3: 1.1875rem;
$fsz-4: 2.5rem;
$fsz-5: 2.2rem;
$fsz-6: 3rem;
$fsz-7: 4.5rem;
$fsz-8: 7rem;
$fsz-9: 12rem;
$fsz-10: 16rem;
$fsz-11: 10rem;
$width-1: 1440px;
$width-2: 1050px;
$width-3: 860px;
$text-color-1: white;
$text-color-2: black;
$text-color-3: rgb(25, 127, 170);
$color-1: #219de0ce;
$forth-color: #4d4848;
$fifth-color: #959595;
$none: none;
$pos-rel: relative;
$pos-a: absolute;
$autom: 0 auto;
$btn-color: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
