.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 15px;
}

.header__tools {
  display: flex;
}

.header__search-form {
  display: flex;
  align-items: center;
}

h1 {
  padding-top: 6px;
  font-weight: 500;
  font-size: $fsz-2;
  line-height: 24px;
  font-family: $font-1;
}
.inner {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: rgb(128,128,128);
}
